Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

Exercise 5 - Create a markdown cell to list data science libraries

Some of the popular languages that Data Scientists use are:
<ol>
<li>TensorFlow</li>
<li>NumPy</li>
<li>SciPy</li>
</ol>

Exercise 6 - Create a markdown cell with a table of Data Science tools

| Data Science Tools |
|--------------------|
|      RStudio       |
|    Apache Spark    |
|      TensorFlow    |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# Exercise 8 - Create a code cell to multiply and add numbers

# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [7]:
# Exercise 9 - Create a code cell to convert minutes to hours

# This will convert 200 minutes to hours by diving by 60

minute = 200

convert_minutes_to_hours = minute/60
print(convert_minutes_to_hours)

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

<b>Objectives:</b>
<ul>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ul>

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Putri Ayuningtyas